{% extends 'base.html' %} {% block title %}
About - {{ block.super }} {% endblock title %}
{% block content %}

<nav class="baskerville pa3 pa4-ns">
    <a class="ttu tracked link dim black b f6 f5-ns dib mr3" href="#" title="Home">Worthington South</a>
    <!-- <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="Home">Home</a> -->
    <a class="ttu link dim gray    fr f6 f5-ns dib mr3" href="{% url 'home' %}" title="Home">Home</a>
    <a class="ttu link dim gray    fr pl3 f6 f5-ns dib mr3" href="{% url 'about' %}" title="About">About</a>
    <a class="ttu link dim gray    fr f6 f5-ns dib" href="{% url 'contact' %}" title="Contact">Contact</a>
</nav>

<main>
    <article class="bg-white">
        <div class="vh-75 cover bg-center"
            style="background-image: url(https://images.unsplash.com/photo-1542147864-027e5d1330c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
        </div>
        <div class="ph4 ph5-m ph6-l">
            <div class="pa4">
                <blockquote class="avenir ml0 mt0 pl4 black-90 bl bw2 b--blue">
                    <p class="db lh-copy black-70  fw1 mv0 f4 f3-m f2-l measure">
                        More specific copy here regarding your the services your business provides and a little bit more
                        about process. A superlative statement about why Worthington South is the best there is.
                    </p>
                </blockquote>
            </div>
    </article>


    <div class="avenir flex justify-center pb5">
        <div class="f3 outline w-25 pa3 mr2 tc ttu">
            <div class="pa2 tc">
                <img src="https://images.unsplash.com/photo-1492105232359-ca132c09762c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                    class="br-100 ba h4 w4 dib" alt="avatar">
            </div>
            <p>Design</p>
        </div>
        <div class="f3 outline w-25 pa3 mr2 tc ttu">
            <div class="pa2 tc">
                <img src="https://images.unsplash.com/photo-1515446134809-993c501ca304?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                    class="br-100 ba h4 w4 dib" alt="avatar">
            </div>
            <p>Build</p>
        </div>
        <div class="f3 outline w-25 pa3 mr2 tc ttu">
            <div class="pa2 tc">
                <img src="https://images.unsplash.com/photo-1489272889853-8093472c6f42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                    class="br-100 ba h4 w4 dib" alt="avatar">
            </div>
            <p>Remodel</p>
        </div>
    </div>

    <div class="avenir ba pa5 b--silver bg-white { background-color: ##FFFFFF }">

        <div class="bg-light-yellow { background-color: ##FBF1A9 }">
            <div class="f3 lh-copy outline w-100 pa3 mr2 tc ttu">


                <h1>Our Process</h1>

            </div>
        </div>

    </div>


    <section class="mw7 center avenir">
        <!-- <h2 class="baskerville fw1 ph3 ph0-l">News</h2> -->
        <article class="bt bb b--black-10">
            <a class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
                <div class="flex flex-column flex-row-ns">
                    <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                        <img src="https://images.unsplash.com/photo-1545022388-9ba226b35a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                            class="db" alt="Photo of a dimly lit room with a computer interface terminal.">
                    </div>
                    <div class="w-100 w-60-ns pl3-ns">
                        <h1 class="f3 fw1 baskerville mt4 lh-title tc ttu">Design</h1>
                        <p class="f6 f5-l lh-copy tc">
                            Lorem ipsum dolor sit amet, te sint utinam eos, ad mei quem veritus suscipiantur. In dicit
                            delenit mea. Dolor iriure in nec. Ut urbanitas posidonium cum. Qui wisi iudicabit ocurreret
                            ne, veniam vituperatoribus ex ius, graece veritus definiebas ei his. Pericula urbanitas
                            reprehendunt sea et.

                        </p>

                    </div>
                </div>
            </a>
        </article>
        <article class="bt bb b--black-10">
            <a class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
                <div class="flex flex-column flex-row-ns">
                    <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                        <img src="https://images.unsplash.com/photo-1512916194211-3f2b7f5f7de3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                            class="db" alt="Photo of a dimly lit room with a computer interface terminal.">
                    </div>
                    <div class="w-100 w-60-ns pl3-ns">
                        <h1 class="f3 fw1 baskerville mt4 lh-title tc ttu">Build</h1>
                        <p class="f6 f5-l lh-copy tc">
                            Lorem ipsum dolor sit amet, te sint utinam eos, ad mei quem veritus suscipiantur. In dicit
                            delenit mea. Dolor iriure in nec. Ut urbanitas posidonium cum. Qui wisi iudicabit ocurreret
                            ne, veniam vituperatoribus ex ius, graece veritus definiebas ei his. Pericula urbanitas
                            reprehendunt sea et.

                        </p>

                    </div>
                </div>
            </a>
        </article>
        <article class="bt bb b--black-10">
            <a class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
                <div class="flex flex-column flex-row-ns">
                    <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                        <img src="https://images.unsplash.com/photo-1545060894-bd408b72adf5?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                            class="db" alt="Photo of a dimly lit room with a computer interface terminal.">
                    </div>
                    <div class="w-100 w-60-ns pl3-ns">
                        <h1 class="f3 fw1 baskerville mt4 lh-title tc ttu">Remodel</h1>
                        <p class="f6 f5-l lh-copy tc">
                            Lorem ipsum dolor sit amet, te sint utinam eos, ad mei quem veritus suscipiantur. In dicit
                            delenit mea. Dolor iriure in nec. Ut urbanitas posidonium cum. Qui wisi iudicabit ocurreret
                            ne, veniam vituperatoribus ex ius, graece veritus definiebas ei his. Pericula urbanitas
                            reprehendunt sea et.

                        </p>

                    </div>
                </div>
            </a>
        </article>
    </section>


</main>





<!-- SPACE BAR -->
<!-- <div class="cf">
            <div class="fl w-25 tc pv5 bg-black-025">

            </div>
            <div class="fl w-25 tc pv5 bg-black-025">

            </div>
            <div class="fl w-25 tc pv5 bg-black-025">

            </div>
            <div class="fl w-25 tc pv5 bg-black-025">

            </div>
        </div> -->


<!-- SPACE BAR 2 -->
<!-- <ul class="list pl0">
    <li class="pa3 pa4-ns bb b--black-10">
        <span class="f5 db lh-copy measure">
        </span>
    </li>
    <li class="pa3 pa4-ns bb b--black-10">
        <span class="f5 db lh-copy measure">
        </span>
    </li> -->


<!-- SPACE BAR PINK -->
<!-- <article>
    <header class="bg-gold sans-serif">
        <div class="mw9 center pa4 pt5-ns ph7-l" style="background-color: pink">

        </div>
    </header>
</article> -->


<!-- SOCIAL FOOTER -->
<footer class="pv4 ph3 ph5-ns tc">
    <a class="link dim gray dib h2 w2 br-100 mr3 pa2 bg-near-white ba b--black-10" href="#" title="">
        <svg data-icon="facebook" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>facebook icon</title>
            <path
                d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z">
            </path>
        </svg>
    </a>
    <a class="link dim gray dib h2 w2 br-100 mr3 pa2 bg-near-white ba b--black-10" href="#" title="">
        <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>twitter icon</title>
            <path
                d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4">
            </path>
        </svg>
    </a>
    <a class="link dim gray dib br-100 h2 w2 mr3 pa2 bg-near-white ba b--black-10" href="#" title="">
        <svg data-icon="github" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>github icon</title>
            <path
                d="M0 18 C0 12 3 10 3 9 C2.5 7 2.5 4 3 3 C6 3 9 5 10 6 C12 5 14 5 16 5 C18 5 20 5 22 6 C23 5 26 3 29 3 C29.5 4 29.5 7 29 9 C29 10 32 12 32 18 C32 25 30 30 16 30 C2 30 0 25 0 18 M3 20 C3 24 4 28 16 28 C28 28 29 24 29 20 C29 16 28 14 16 14 C4 14 3 16 3 20 M8 21 A1.5 2.5 0 0 0 13 21 A1.5 2.5 0 0 0 8 21 M24 21 A1.5 2.5 0 0 0 19 21 A1.5 2.5 0 0 0 24 21 z">
            </path>
        </svg>
    </a>
    <a class="link dim gray dib br-100 h2 w2 mr3 pa2 bg-near-white ba b--black-10" href="#" title="">
        <svg data-icon="dribbble" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>dribbble icon</title>
            <path
                d="M16 0 A16 16 0 0 0 0 16 A16 16 0 0 0 16 32 A16 16 0 0 0 32 16 A16 16 0 0 0 16 0 M5 11.5 A12 12 0 0 1 11 5 A46 46 0 0 1 13.5 9.25 A46 46 0 0 1 5 11.5 M15 4 A12 12 0 0 1 21.5 5.25 A46 46 0 0 1 17 7.75 A50 50 0 0 0 15 4 M4 16 A50 50 0 0 0 15 13 A46 46 0 0 1 16 15.5 A26 26 0 0 0 6 22.5 A12 12 0 0 1 4 16 M18.5 11.5 A50 50 0 0 0 25 8 A12 12 0 0 1 28 13.75 A26 26 0 0 0 19.75 14.5 A50 50 0 0 0 18.5 11.5 M17 19.5 A46 46 0 0 1 18 28 A12 12 0 0 1 8.75 25.5 A22 22 0 0 1 17 19.5 M20.75 18.25 A22 22 0 0 1 28 17.75 A12 12 0 0 1 22 26.5 A50 50 0 0 0 20.75 18.25">
            </path>
        </svg>
    </a>
</footer>

{% endblock content %}