{% load staticfiles %}
<!doctype html>
<html>

<head>
    <title>
        {% block title %}
        My Hello Web App Project {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    {% block header %}{% endblock header %}
</head>

<body>
    <section class="vh-100 bg-washed-blue baskerville">
        <header class="tc ph5 lh-copy">
            <h1 class="f1 f-headline-l code mb3 fw9 dib tracked-tight light-purple">404</h1>
            <h2 class="tc f1-l fw1">Sorry, we can't find the page you are looking for.</h2>
        </header>

    </section>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>

</html>